body {
    background-image: none;

}
#navbar{
    position:fixed;/* Fixed Sidebar */
    min-width:60px;
    z-index: 1; /* Stay on top */
    top:0px; /* Stay at the top */
    left:0px;
    width:160px;/* Set the width of the sidebar */
    height:100%; /* Full-height*/
    border-right:solid;
    background-color:#EBF4FA;
    padding-top: 20px;
    overflow-x: hidden; /* Disable horizontal scroll */
  }