@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


body {
  background-image: none;
}

#navbar {
  position: fixed; /* Fixed Sidebar */
  min-width: 60px;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 100%;
  border-right: solid;
  background-color: #ebf4fa;
  padding-top: 20px;
  overflow-x: hidden;
}

.about-header {
  text-align: center;
  font-family: "Metal Mania";
  font-weight: normal;
}

.title {
  font-size: 30px;
}

#main-doc {
  position: absolute;
  margin-left: 140px;
  padding: 20px;
  margin-bottom: 110px;
}

@media only screen and (max-width: 500px) {
  #main-doc {
    position: relative;
  }

  img {
    width: 200px;
    height: 200px;
  }

  #navbar {
    position: sticky;
  }
}
